<form class="new-project-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <p class="heading">Add new project</p>
  <div class="fields">
    <label for="" class="field-label">Name : </label>
    <input type="text" formControlName="name" (input)="checkIfValid($event)" />
    <div class="error-wrapper">
      <p
        class="error"
        *ngIf="form.get('name')?.touched && !this.form.get('name')?.value"
      >
        Name is required
      </p>
      <p class="name-error" *ngIf="nameError">{{ nameErrorMessage }}</p>
    </div>
  </div>
  <div class="fields">
    <label for="" class="field-label">Description : </label>
    <input type="text" formControlName="description" />
  </div>
  <div class="fields">
    <label for="" class="field-label">Start Date : </label>
    <input type="date" formControlName="startDate" />
  </div>
  <div class="fields">
    <label for="" class="field-label">End Date : </label>
    <input type="date" formControlName="endDate" />
  </div>
  <div class="actions">
    <button
      class="add-btn"
      color="primary"
      mat-dialog-close
      type="submit"
      [disabled]="form.invalid || nameError"
    >
      Add
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  </div>
</form>
