.new-task-form {
  padding: 2rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  gap: 1rem;
}
.error-wrapper {
  display: flex;
  flex-direction: column;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.field-label {
  font-size: 1.5rem;
  font-weight: 500;
}
.name-error {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
input,
select {
  padding: 5px;
  border-radius: 7px;
  outline: none;
  border: 2px solid grey;
}
.actions {
  display: flex;
  gap: 1rem;
  align-self: center;
  width: fit-content;
  margin-top: 1rem;
}
.heading {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(43, 43, 215);
}
.error {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(185, 48, 48);
}
input,
select {
  width: 100%;
}
.add-btn {
  padding: 5px 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 550;
  font-size: 1.5rem;
  background-color: rgb(177, 16, 94);
  transition: background-color 0.2s;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(227, 32, 126);
  }
}
