<form class="new-task-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <p class="heading">Add new Task</p>
  <div class="fields">
    <label for="" class="field-label">Name : </label>
    <input type="text" formControlName="name" (input)="checkIfValid($event)" />
    <div class="error-wrapper">
      <p
        class="error"
        *ngIf="form.get('name')?.touched && !this.form.get('name')?.value"
      >
        Name is required
      </p>
      <p class="name-error" *ngIf="nameError">{{ nameErrorMessage }}</p>
    </div>
  </div>
  <div class="fields">
    <label for="" class="field-label">Description : </label>
    <input type="text" formControlName="description" />
  </div>
  <div class="fields">
    <label for="" class="field-label">Status : </label>
    <select name="" id="" formControlName="status">
      <option value="" *ngFor="let status of status" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>
  <div class="fields">
    <label for="" class="field-label">Assign To : </label>
    <input
      type="text"
      (input)="filterUsers($event)"
      formControlName="assignTo"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onUserSelected($event.option.value)"
      [displayWith]="displayUser"
    >
      <mat-option *ngFor="let user of filteredUsers" [value]="user">
        {{ user.name }} ({{ user.email }})
      </mat-option>
    </mat-autocomplete>
    <p class="error" *ngIf="noUserError">{{noUserMessage}}</p>
  </div>
  <div class="fields">
    <label for="" class="field-label">Deadline : </label>
    <input type="date" formControlName="deadline" />
  </div>
  <div class="actions">
    <button
      class="add-btn"
      mat-dialog-close
      type="submit"
      [disabled]="form.invalid || noUserError"
    >
      Add
    </button>
    <button mat-raised-button color="warn" mat-dialog-close (click)="cancel($event)">
      Cancel
    </button>
  </div>
</form>
