.project-items {
  width: 100%;
  gap: 1rem;
  width: 30%;
}
.project-list {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.project-dashboard-container {
  width: 100%;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}
