.label {
  font-weight: 500;
  font-size: 2rem;
  color: grey;
}
.label-value {
  color: black;
}
.actions {
  display: flex;
  gap: 1rem;
  width: fit-content;
}
.item-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.info {
  width: fit-content;
}
